@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:'Sarala', sans-serif;
    
  }
  
  body {
    font-family: 'montserrat', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image:url('./Assets/background2.png');
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
  header {
    background-color:#020852;
    background-position: center;
    border-bottom: 5px solid white;
    width: 100%;
   padding: 10px;
    text-align: justify;
  }

  .subtitle_title{

    margin: auto 0;
    text-align: center;
    color: white;
    padding-bottom: 9px;
  }

  #frase{


    width: 250px;
    height: 180px;
     
  }

  #fraseAlt{

    width: 250px;
    height: 160px;
     

  }

  .frase{


      padding: 20px;
  }

  .text{

      font-size: 15px;
  }
  

  h1{
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 0px;
  }
  
  .conteudo p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: white;

  }
  
  .conteudo p:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .conteudo p b {
    font-weight: 700;
  }
  
  .conteudo p span {
    float: right;
  }
  
  .container {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
  }

  .img_logo{

     display: flex;
     justify-content: center;
     align-items: column;
     margin: auto 0;
     padding-left: 35px;
     padding-bottom: 20px;
  }
  
  .conteudo {
    margin: 30px 0;
  }
  
  .conteudo .corpo {
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: #020852;
    border: 2px solid rgba(196, 185, 185, 0.418);
    border-radius: 8px;
    height: 580px;
    width: 500px;
    border-radius: 70px;
    color: white;
  }
  
  select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    border: 2px solid rgba(150, 145, 145, 0.418);
    border-radius: 50px;
  }
  
  textarea {
    resize: none;
    border: 2px solid rgba(196, 185, 185, 0.418);
    border-radius: 8px;
    display: flex;
    margin-bottom: 15px;
    margin-left: 20%;
  }
  
  #chave {
    border: 2px solid rgba(196, 185, 185, 0.418);
    border-radius: 8px;
    margin-left: 20%;
  }
  
  #cifraCesarCript,
  #cifraCesarDecript,
  #base64criptada,
  #base64decriptada {
    
    border: 2px solid rgba(196, 185, 185, 0.418);
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 30%;
    padding: 5px;
    
  }
  .radiobt {
    margin-top: 5px;
    margin-left: 19%;
  }

  footer{

   display: flex;
   font-size: 14px;
   justify-content: center;
   text-decoration: none;
   color: black;
   font-weight: bold;
   margin-top: 59px;
   margin-bottom: 5px;


  }
  